# ignore data directories
**/data/
**/data/GIAB/
**/data/mixedDataRetroSom

# ignore reference directories
**/refs/
**/refs/hg38
!**.vcf.gz

## ignore tool directories
**/tools/
**/tools/RetroSomV1/
**/tools/RetroSomV2/
**/tools/xTea-mosaic/

## ignore result directories
**/results/**/**
!**/results/**/
!**.vcf
#!**.bed
!**/results/RetroSom/**/**.bed
!**.calls

## ipython notebook local files
.ipynb_checkpoints

## swp file
**.sh.swp

## sequence file
**.bam
**.fastq

## nfs files
.nfs**

# OS X stuff
*.DS_Store

## ignore slurm output
*.o
*.la
*.lo
*.orig
*.rej
.*.swp
.*.swo
.deps
.libs
*.out

_temp_extension
junit.xml
[uU]ntitled*
notebook/static/*
!notebook/static/favicons
notebook/labextension
notebook/schemas
docs/source/changelog.md
docs/source/contributing.md

## VSCode
.vscode

## RTC
.jupyter_ystore.db

## Python ###
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## C extensions
*.so

## Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST

## PyInstaller
##  Usually these files are written by a python script from a template
##  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

## Installer logs
pip-log.txt
pip-delete-this-directory.txt
